\documentclass[letterpaper,10pt]{article}
\usepackage{vwcol}
\usepackage{titlesec, titling}
\usepackage[margin=0.5in]{geometry}
\usepackage{fontawesome}
\usepackage{hyperref}
\usepackage{fix-cm}
\usepackage{xcolor, float}
\usepackage{fancyhdr}

% puts git hash in top right corner
\pagestyle{fancy}
\fancyhead{}
\renewcommand{\headrule}{}
\rhead{\textcolor{verylightgray}{\VAR{git_hash}}}

\definecolor{verylightgray}{rgb}{0.9, 0.9, 0.9}

% formatting section and subsection
\titleformat{\section}{}{}{0em}{\Large\bfseries}[\titlerule]
\titleformat{\subsection}{\normalsize}{}{0em}{\bfseries}

\titlespacing*{\section}{0em}{0em}{0.3em}
\titlespacing*{\subsection}{0em}{0em}{0em}

% format itemize
\usepackage{enumitem}
\setitemize{noitemsep,topsep=0pt,parsep=0pt,partopsep=0pt,leftmargin=*}

% this makes it so the ATS can read the pdf
\input{glyphtounicode}
\pdfgentounicode=1

% maketitle
\renewcommand{\maketitle}{
    \begin{center}
        \textbf{\fontsize{1.2cm}{1cm}\selectfont \VAR{basics["name"]}}

        {
        \hfill
        %% if basics["email"]:
        \faEnvelope~\textcolor{blue}{\href{mailto:\VAR{basics["email"]}}{\VAR{basics["email"]}}} \hfill
        %% endif
        %% if basics["phone"]:
        \faPhone~\VAR{basics["phone"]} \hfill
        %% endif
        %% if basics["profiles"][0]
        \faGithub~\VAR{link_with_protocol(basics["profiles"][0]["url"])} \hfill
        %% endif
        %% if basics["url"]:
        \faChain~\VAR{link_with_protocol(basics["url"])}
        %% endif
        \hfill
        }
    \end{center}%
    \vspace{-4mm}
}
\pagenumbering{gobble}
\begin{document}
\maketitle
\section{Education}
\VAR{education[0]["institution"]} \hfill \VAR{date_format(education[0]["endDate"])}\\
\emph{\VAR{education[0]["studyType"]}, \VAR{education[0]["area"]}} \hfill Major GPA: \VAR{education[0]['score']}\\
\emph{\VAR{education[1]["studyType"]}, \VAR{education[1]["area"]}}\\
\textbf{Physics Thesis} titled ``Applications of Fractional Calculus in Quantum Field Theory''

\noindent \textbf{Graduate \& Specialized Coursework} ---
%% for course in (education[0]["courses"] + education[1]["courses"])
    \VAR{course.split(" - ")[1].replace("&", "\&").replace(" ", "~")}\VAR{', ' if not loop.last}
%% endfor

\section{Experience}
%% for experience in work:
    \subsection{%
        %% if experience["position"] and experience["name"]
            \VAR{experience["position"]} -- \VAR{experience["name"]} \hfill
        %% elif experience["name"]
            \VAR{experience["name"]} \hfill
        %% endif
        \VAR{date_format(experience["startDate"])}
        %% if not experience["endDate"]
        -- Present
        %% elif date_format(experience["startDate"]) != date_format(experience["endDate"])
        -- \VAR{date_format(experience["endDate"]) if "endDate" in experience else "Present"}
        %% endif
    }
    %% if "keywords" in experience
        \quad \emph{\textcolor{gray}{\footnotesize \VAR{",~".join(experience["keywords"])}}}
    %% endif

    \begin{itemize}
    %% for bullet in experience['highlights']
        \item \VAR{bullet}
    %% endfor
    \end{itemize}
%% endfor

%% if projects:
\section{Projects}
%% for project in projects:
    \subsection{%
        \VAR{project["name"]} \hfill
        \VAR{date_format(project["startDate"])}
        %% if not project["endDate"]
        -- Present
        %% elif date_format(project["startDate"]) != date_format(project["endDate"])
        -- \VAR{date_format(project["endDate"]) if "endDate" in project else "Present"}
        %% endif
    }
    %% if "keywords" in project
        \emph{\textcolor{gray}{ \footnotesize \VAR{",~".join(project["keywords"])}}}
    %% endif
    \begin{itemize}
    %% for bullet in project['highlights']
        \item \VAR{bullet}
    %% endfor
    \end{itemize}
%% endfor
%% endif

%% if skills
\section{Technical Skills}
%% for skillset in skills:
    \textbf{\VAR{skillset["name"]}} --- \VAR{", ".join(skillset["keywords"])}
    %% if not loop.last
    \\
    %% endif
%% endfor
%% endif
\end{document}
